#btnLogout, #btnGameExit, #btnGameStart, #game, #frmGamePlay, #playArea {
    visibility: hidden;
}

/*ChatRoom*/
#chatRoom {
    min-width: 22%;
    width: 24%;
    margin-left: 2%;
}

#chatRoomUserProfileContainer {
    width: 100%;
    margin-left: 0.5%;
}

#chatRoomUserProfileImageContainer {
    float: left;
    width: 35%;
}

#chatRoomUserProfileEmailContainer {
    background-color: #039be5;
    display: inline-block;
}

#chatRoomUserProfileOptionsContainer {
float: right;
background-color: springgreen;
width: 38%;
/*word-wrap: break-word;*/
}
