html, body {
    width: 100%;
    height: 90%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: chartreuse;
}

#pageContent form {
    min-width: 22%;
    width: 24%;
    margin-left: 2%;
}

#pageContent input {
    float: right;
    margin-left: 0.5%;
}

#btnLogout, #btnGameExit, #btnGameStart, #frmGameHosting {
    visibility: hidden;
}

#frmGameHosting #rdoCreate, #frmGameHosting #rdoJoin { /* The extra tags ensure txtGameId overrides property float */
    float: left;
    margin-right: 0.5%;
}

#chatRoom {
    min-width: 22%;
    width: 24%;
    margin-left: 2%;
}

#chatRoomUserProfile {
    float: left;
    width: 58%;
    padding-top: 56.25%;
}

#imgUserProfile {
    width: 30%;
    position: relative;
}

#chatRoomUserProfileOptions {
float: right;
background-color: crimson;
width: 38%;
/*word-wrap: break-word;*/
}
